<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Dispositivo {{dispositivo.dispositivoId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" style="width:100%; height:500px;"></div>
  <ion-row>
    <ion-button *ngIf="valvulaCerrada" (click)="actualizarElectroValvula()"> Abrir Electroválvula</ion-button>
    <ion-button *ngIf="!valvulaCerrada" (click)="actualizarElectroValvula()"> Cerrar Electroválvula</ion-button>
    <ion-button routerLink="/medicion/{{dispositivo.dispositivoId}}/todas">Ver Mediciones</ion-button>
    <ion-button routerLink="/logRiegos/{{dispositivo.dispositivoId}}">Ver Logs Riego</ion-button>
  </ion-row>
</ion-content>

<script src="https://code.highcharts.com/modules/accessibility.js"></script>
