<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/dispositivo/{{idDispositivo}}">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Logs Dispositivo {{idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--ion-content>
  <ion-list>
    <ion-item *ngFor="let log of listadoLogs" routerDirection="root">
        <ion-avatar slot="start">
            <ion-icon size="large" name="thermometer"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h2> {{log.logRiegoId}} - {{log.fecha}} - {{log.electrovalvulaId}} - {{log.apertura}}</h2>
        </ion-label>
    </ion-item>
</ion-list>
</ion-content-->

<ion-content class="ion-margin">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Id LogRiego</ion-col>
      <ion-col>Id Electrovalvula</ion-col>
      <ion-col>Estado Valvula</ion-col>
      <ion-col>Fecha</ion-col>
    </ion-row>
    <ng-container *ngIf="listadoLogs.length" >
      <ion-row appCambiarColorBackground *ngFor="let log of listadoLogs">
        <ion-col>{{log.logRiegoId}}</ion-col>
        <ion-col>{{log.electrovalvulaId}}</ion-col>
        <ion-col>{{log.apertura | estadoElectrovalvula}}</ion-col>
        <ion-col>{{log.fecha | date: 'dd/MM/yyyy hh:mm'}}</ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col *ngIf="!listadoLogs.length" > <ion-fab center middle>NO SE ENCUENTRAN LOGS DISPONIBLES</ion-fab></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
